article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

html, body {
  height: 100%; }

body {
  color: #333333;
  background-color: #ecf0f1;
  font-family: 'Josefin Slab', serif;
  max-width: 1440px;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease; }
  @media only screen and (max-width: 1100px) {
    img {
      opacity: 1; } }

ul {
  list-style: none; }

img.show {
  opacity: 1; }

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: 'Lato', serif;
  font-weight: 100;
  margin: 0; }

.funky-bg {
  background: url("../img/funky.svg");
  background-color: #34495e; }

h1 {
  font-size: 48px;
  font-size: 3rem; }
  @media only screen and (max-device-width: 480px) {
    h1 {
      font-size: 42px;
      font-size: 2.625rem; } }

h2 {
  font-size: 36px;
  font-size: 2.25rem; }
  @media only screen and (max-device-width: 480px) {
    h2 {
      font-size: 28px;
      font-size: 1.75rem; } }

h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 14px;
  font-size: 0.875rem; }

p {
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 0; }

nav.navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ecf0f1;
  border-bottom: 1px solid #333333; }
  nav.navigation .wrapper {
    height: 100%;
    padding: 25px 0; }
    nav.navigation .wrapper ul {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      list-style: none;
      padding: 0 60px; }
      nav.navigation .wrapper ul li {
        margin-right: 25px; }
        nav.navigation .wrapper ul li:last-child {
          margin: 0; }
      nav.navigation .wrapper ul .underline:before {
        background-color: #666666;
        height: 1px; }

.content {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px; }
  @media only screen and (max-device-width: 1025px) {
    .content {
      width: 95%; } }

.copy {
  width: 70%;
  margin: 0 auto;
  max-width: 960px; }
  @media only screen and (max-device-width: 480px) {
    .copy {
      width: 85%; } }

.full {
  width: 100%; }

.menu-btn {
  position: fixed;
  width: 42px;
  top: 15px;
  left: 25px;
  cursor: pointer;
  z-index: 200; }

.underline {
  position: relative; }
  .underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
        transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
        transform: scaleX(1); }

.dash {
  position: relative;
  margin-bottom: 40px; }
  .dash .dash-line {
    border-bottom: 2px solid black;
    width: 15px;
    display: block;
    margin-left: 2px; }

.dash-line.white {
  border-bottom-color: white; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@media only screen and (max-width: 600px) {
  nav.navigation {
    z-index: 100; }
    nav.navigation .wrapper {
      padding: 0;
      height: 100vh; }
      nav.navigation .wrapper ul {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 22px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        text-transform: uppercase;
        padding: 0; }
        nav.navigation .wrapper ul li {
          margin-right: 0;
          padding: 25px 0; } }
body.homepage .hero {
  height: calc(100vh - 120px);
  width: 100%;
  background: url("https://images.unsplash.com/photo-1445384763658-0400939829cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=302971f7c5bff7116de63dadc0240447") center center no-repeat;
  background-size: cover;
  margin-bottom: 40px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  max-width: 1440px;
  margin: 0 auto; }
  body.homepage .hero header h1, body.homepage .hero header h4 {
    color: #ecf0f1; }
  body.homepage .hero .overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-right: 10%; }
    @media only screen and (max-width: 480px) {
      body.homepage .hero .overlay {
        padding-right: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: rgba(0, 0, 0, 0.2); } }
body.homepage nav {
  width: 100%;
  position: fixed;
  max-width: 1440px;
  top: 0;
  right: 0;
  z-index: 5;
  display: none; }
  body.homepage nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #ecf0f1;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 5%;
    padding-top: 20px; }
    body.homepage nav ul li:first-child {
      margin-right: 10px; }
    body.homepage nav ul li {
      cursor: pointer; }
body.homepage section.main {
  margin-top: calc(100vh - 168px);
  background: url("../img/funky.svg");
  background-color: #ecf0f1; }
  body.homepage section.main .welcome {
    padding-left: 10%;
    margin: 80px auto;
    padding-top: 80px; }
    @media only screen and (max-width: 480px) {
      body.homepage section.main .welcome {
        padding-top: 40px; } }
  body.homepage section.main .welcome-msg {
    width: 100%; }
    body.homepage section.main .welcome-msg p {
      line-height: 1.8rem;
      width: 75%; }
  body.homepage section.main .menu {
    background: url("../img/menu_bg.jpg") center center no-repeat;
    background-size: cover;
    color: #ecf0f1;
    padding: 80px 10% 80px 10%;
    width: 100%; }
    body.homepage section.main .menu h2, body.homepage section.main .menu h3, body.homepage section.main .menu p {
      color: #ecf0f1; }
    body.homepage section.main .menu li {
      color: #ecf0f1;
      margin-bottom: 20px; }
      body.homepage section.main .menu li:last-child {
        margin-bottom: 0; }
  body.homepage section.main .menu-item-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  body.homepage section.main .menu-item {
    width: 33%;
    margin-bottom: 40px; }
    @media only screen and (max-width: 480px) {
      body.homepage section.main .menu-item {
        width: 100%; } }
    body.homepage section.main .menu-item p {
      font-style: italic;
      font-weight: 100;
      font-size: 12px; }
  body.homepage section.main .element-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 80px 10%; }
    @media only screen and (max-width: 480px) {
      body.homepage section.main .element-wrapper {
        display: block;
        padding: 40px 5%; } }
    body.homepage section.main .element-wrapper > div {
      width: 50%; }
      @media only screen and (max-width: 480px) {
        body.homepage section.main .element-wrapper > div {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          padding: 20px; } }
  body.homepage section.main .menu-wrapper__why {
    background-color: white;
    padding: 40px 20px 60px;
    margin-right: 1%; }
    body.homepage section.main .menu-wrapper__why h3, body.homepage section.main .menu-wrapper__why p {
      color: #333333; }
    @media only screen and (max-width: 480px) {
      body.homepage section.main .menu-wrapper__why {
        margin-bottom: 20px; } }
  body.homepage section.main .benefits {
    padding: 40px 20px;
    margin-left: 1%;
    background-color: white; }
    body.homepage section.main .benefits h3, body.homepage section.main .benefits p {
      color: #333333; }
    body.homepage section.main .benefits .benefits-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      body.homepage section.main .benefits .benefits-wrapper .benefits__block {
        width: 50%;
        margin-bottom: 20px; }

section.contact-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10% 80px;
  background-image: url("../img/funky.svg");
  background-color: #ecf0f1; }
  section.contact-us .wrapper {
    width: 100%; }
    section.contact-us .wrapper .map {
      margin-top: 40px; }
